/*----------------------------------- Sections du site -----------------------------*/
.section-breadcrumb{
   background-color: $colour-background;
   .title-dasboard{
      font-size: 44px;
      color: $colour-title;
      font-weight: $font-bold;
   }
}