/* Couleurs globales */
$colour-body: white;
$colour-background: #FDF6F0;
$colour-background-secondary:#FAE6DB;
$colour-title: #19154B;
$colour-text: #5b5a67;
$colour-subtitle:#79829B;
$colour-primary:#7F53F2;
$colour-secondary:#fc7629;
$colour-beige:#FFCAAD;
$colour-none:rgb(255 255 255 / 0%);
/* Couleurs utiles */
$colour-warning:#F2B45A;
$colour-success:#22D489;
$colour-danger:#DE506E;
/* Ombres */
$box-shadow: rgba(231, 111, 13, 0.2) 0px 7px 29px 0px;
$box-shadow-aside: 1px 1px 22px  rgba(165, 62, 3, 0.1);
$box-shadow-nav: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
/* Polices princiaples */
$font-logo: "Baloo Thambi 2", system-ui;
$font-family:"Mulish", sans-serif;
$font-text:"Hind Siliguri", sans-serif;
$font-bold: 700;
$font-medium: 500;
$font-regular: 400;
